<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>NMBP projekt 3</title>

    <!-- Bootstrap core CSS -->
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/stylesheets/index.css" rel="stylesheet">
  </head>

  <body>

   <% include navbar-partial.ejs %>

    <main role="main" class="container">
      <div class="jumbotron">
        <% result.forEach(function(entry) { %>
          <p class="lead"><%= entry._id %> => <%= entry.value %> komentara</p>
        <% }); %>
      </div>
    </main>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/javascripts/jquery-3.2.1.min.js" ></script>
    <script>window.jQuery || document.write('<script src="/javascripts/jquery-slim.min.js"><\/script>')</script>
    <script src="/javascripts/popper.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
  </body>
</html>
