<!doctype html>
<html lang="en">
  
  <% include head-partial.ejs %>
  <link rel="stylesheet" href="/stylesheets/sqlcodesnippet.css">
  <link rel="stylesheet" href="/stylesheets/easy-autocomplete.min.css">
  <link rel="stylesheet" href="/stylesheets/easy-autocomplete.themes.min.css">

  <body>
    
    <% include navbar-partial.ejs%>

    <div class="container">
      <div class="row">
        <div class="col-10">
          
            <form id="searchForm">
                <div class="form-row">
                    <div id="text-group" class="form-group col">
                        <input type="text" class="form-control" id="search-text" name="searchText" placeholder="Search phrase">
                    </div>
                    <div class="form-group col">
                        <div class="form-check form-check-inline">
                            <label class="form-check-label">
                                <input class="form-check-input" type="radio" name="searchType" id="searchtype1" value="AND"> AND
                            </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <label class="form-check-label">
                                <input class="form-check-input" type="radio" name="searchType" id="searchtype2" value="OR" checked> OR
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-10">
                        <button type="submit" class="btn btn-primary">Search</button>
                    </div>
                </div>
            </form>

        </div>
      </div>
      <div class="row">
        <div id="query-container" class="col-10">
        </div>
        </div>
        <div class="row">
            <div id="docnum-container" class="col-10">
            </div>
        </div>
        <div class="row">
            <div id="card-container" class="col-10">
            </div>
        </div>
    </div>

    <% include scripts-partial.ejs%>
    <script src="/javascripts/searchSubmit.js"></script>
    <script src="/javascripts/jquery.easy-autocomplete.min.js"></script>
    <script src="/javascripts/autocomplete.js"></script>

  </body>
</html>